[submodule "verus-geometry"]
	path = verus-geometry
	url = https://github.com/Phylliida/verus-geometry.git
[submodule "verus-linalg"]
	path = verus-linalg
	url = https://github.com/Phylliida/verus-linalg.git
[submodule "verus-bigint"]
	path = verus-bigint
	url = https://github.com/Phylliida/verus-bigint.git
[submodule "verus-rational"]
	path = verus-rational
	url = https://github.com/Phylliida/verus-rational.git
[submodule "verus-interval-arithmetic"]
	path = verus-interval-arithmetic
	url = https://github.com/Phylliida/verus-interval-arithmetic.git
[submodule "old/VerusCAD"]
	path = old/VerusCAD
	url = https://github.com/Phylliida/VerusCAD
[submodule "verus"]
	path = verus
	url = https://github.com/verus-lang/verus.git
[submodule "verus-docgenerator"]
	path = verus-docgenerator
	url = https://github.com/Phylliida/verus-docgenerator
[submodule "tree-sitter-verus"]
	path = tree-sitter-verus
	url = https://github.com/Phylliida/tree-sitter-verus
[submodule "verus-topology"]
	path = verus-topology
	url = https://github.com/Phylliida/verus-topology.git
[submodule "verus-algebra"]
	path = verus-algebra
	url = https://github.com/Phylliida/verus-algebra.git
[submodule "z3"]
	path = z3
	url = https://github.com/Z3Prover/z3
[submodule "verus2"]
	path = verus2
	url = https://github.com/Phylliida/verus
[submodule "bootstrapped-llm-sim"]
	path = bootstrapped-llm-sim
	url = https://github.com/Phylliida/bootstrapped-llm-sim
[submodule "verus-gui"]
	path = verus-gui
	url = https://github.com/Phylliida/verus-gui
[submodule "verus-canvas"]
	path = verus-canvas
	url = https://github.com/Phylliida/verus-canvas.git
[submodule "verus-vulkan"]
	path = verus-vulkan
	url = https://github.com/Phylliida/verus-vulkan.git
[submodule "verus-quadratic-extension"]
	path = verus-quadratic-extension
	url = https://github.com/Phylliida/verus-quadratic-extension.git
[submodule "verus-mandelbrot"]
	path = verus-mandelbrot
	url = https://github.com/Phylliida/verus-mandelbrot.git
[submodule "verus-2d-constraint-satisfaction"]
	path = verus-2d-constraint-satisfaction
	url = https://github.com/Phylliida/verus-2d-constraint-satisfaction.git
[submodule "verus-field-extension"]
	path = verus-field-extension
	url = https://github.com/Phylliida/verus-field-extension.git
[submodule "verus-group-theory"]
	path = verus-group-theory
	url = https://github.com/Phylliida/verus-group-theory.git
[submodule "verus-computability-theory"]
	path = verus-computability-theory
	url = https://github.com/Phylliida/verus-computability-theory.git
[submodule "verus-ray-marching"]
	path = verus-ray-marching
	url = https://github.com/Phylliida/verus-ray-marching.git
[submodule "verus-to-spir-v"]
	path = verus-to-spir-v
	url = https://github.com/Phylliida/verus-to-spir-v.git
